[project]
name = "ensai-2a-s2-conceptionlog"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.128.0",
]

[dependency-groups]
dev = [
    "ruff>=0.14.13",
]
